<ion-view view-title="Time Sheet Mobile" hide-back-button="true">
  <ion-content class="has-header"	padding="true">
        
		<div class="row">
          <ion-item align="center"  class="col col-49" style="padding:20px;font-size:10px">
             <h2 align="center"style="font-size:15px"><i class="icon ion-home"></i>Time Sheets</h2>
            </ion-item>
            <ion-item align="center" class="col col-49" style="padding:20px">
             <h2 align="center"style="font-size:15px"><i class="icon ion-person"></i> Approved Time<br> Sheets</h2>
            </ion-item>
			</div>
         <button class="button button-full button-energized ion-chevron-left">
  Request New Shift
</button>
        <div class="item item-body">
            <div class="list">
			<div class="item item-body">
                            <label class=" ">
                                <span class="side_label"><b>Date Range:</b>Jan 5th, 2016 - Mar 5th, 2016</span>
                            </label>         
                </div>
                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                <span class="side_label">27-Hotel Regina</span>
								<br>
								<span class="side_label">2 - Plumbing</span>
                            </label>

                        </div>

                        <div class="col col-49">
                            <label class="">
                                <span class="s_label"><i class="icon ion-clock"></i>10:33<i class="icon ion-compose"></i></span>
								
                            </label>
                        </div>
                    </div>
                </div>
               

                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                 <span class="side_label">Mar 1st 2016</span>
                            </label>
                        </div>
                        <div class="col col-49">
                            <label class="">
                                <span class="s_label">10:26AM - 08:59PM</span>
                            </label>
                        </div>
                    </div>
                </div>
				  <div class="item item-body"  style="background-color:#FFC966">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                 <span class="side_label">Mar 1st 2016</span>
                            </label>
                        </div>
                        <div class="col col-49">
                            <label class="">
                                <span class="s_label">Reg: 08:00</span>
								<br>
								<span class="s_label">OT:02:33</span>
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
		<div class="item item-body">
            <div class="list">
			
			<div class="item item-body">
                            <label class=" ">
                                <span class="side_label"><b>13-Lowes</span>
                            </label>         
                </div>
			
                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                <span class="side_label">1-Electrical</span>
								<br>
								<span class="side_label">Mar 2nd 2016</span>
                            </label>

                        </div>

                        <div class="col col-49">
                            <label class="">
                                <span class="s_label"><i class="icon ion-clock"></i>10:33<i class="icon ion-compose"></i></span>
								<br>
								<span class="s_label">10:41AM - 04:28PM</span>
                            </label>
                        </div>
                    </div>

                </div>
               
<div class="list">
			
                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                <span class="side_label">27-Hotel Regina</span>
								<br>
								<span class="side_label">2 - Plumbing</span>
                            </label>

                        </div>

                        <div class="col col-49">
                            <label class="">
                                <span class="s_label"><i class="icon ion-clock"></i>03:34<i class="icon ion-compose"></i></span>
								
                            </label>
                        </div>
                    </div>
                </div>
               

                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                 <span class="side_label">Mar 1st 2016</span>
                            </label>
                        </div>
                        <div class="col col-49">
                            <label class="">
                                <span class="s_label">04:30AM - 08:04PM</span>
                            </label>
                        </div>
                    </div>
                </div>
				  <div class="item item-body"  style="background-color:#FFC966">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                 <span class="side_label">Mar 1st 2016</span>
                            </label>
                        </div>
                        <div class="col col-49">
                            <label class="">
                                <span class="s_label">Reg: 08:00</span>
								<br>
								<span class="s_label">OT:02:33</span>
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
                
            </div>
        </div>
		<div class="item item-body">
            <div class="list">
			
			<div class="item item-body">
                            <label class=" ">
                                <span class="side_label"><b>34 - BSC</span>
                            </label>         
                </div>
			
                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                <span class="side_label">1-Electrical</span>
								<br>
								<span class="side_label">Mar 3rd 2016</span>
                            </label>

                        </div>

                        <div class="col col-49">
                            <label class="">
                                <span class="s_label"><i class="icon ion-clock"></i>10:33<i class="icon ion-compose"></i></span>
								<br>
								<span class="s_label">10:41AM - 04:28PM</span>
                            </label>
                        </div>
                    </div>

                </div>
               
<div class="list">
			
                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                <span class="side_label">2024-Honey Forms</span>
								<br>
								<span class="side_label">1-Electrical</span>
                            </label>

                        </div>

                        <div class="col col-49">
                            <label class="">
                                <span class="s_label"><i class="icon ion-clock"></i>03:34<i class="icon ion-compose"></i></span>
								
                            </label>
                        </div>
                    </div>
                </div>
               

                <div class="item item-body">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                 <span class="side_label">Mar 1st 2016</span>
                            </label>
                        </div>
                        <div class="col col-49">
                            <label class="">
                                <span class="s_label">01:16AM - 06:51PM</span>
                            </label>
                        </div>
                    </div>
                </div>
				  <div class="item item-body"  style="background-color:#FFC966">
                    <div class="row">
                        <div class="col col-49">
                            <label class=" ">
                                 <span class="side_label">Mar 1st 2016</span>
                            </label>
                        </div>
                        <div class="col col-49">
                            <label class="">
                                <span class="s_label">Reg: 06:39</span>
								<br>
								<span class="s_label">OT:00:00</span>
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>